<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>信息显示</title>
</head>
<body>
<H3>用户信息如下：</H3>
  <h4>编号:<span th:text="${user.id}">1</span><br/>
      姓名:<span th:text="${user.username}">江小白</span><br/>
      密码:<span th:text="${user.password}">123456</span><br/></h4>
<!--      年龄:<span th:text="${user.age}">25</span><br/>-->
<!--      性别:<span th:text="${user.gender}">2</span><br/>-->
<!--      电话:<span th:text="${user.phone}">19914148333</span></h4>-->
</body>
</html>